/* CSS page for feed page */

.main-div {
  position: absolute;
  width: 80%;
  height: 92%;
  margin: 0;
  left: 10%;
  background-color: #32ab9f;
  box-shadow: 0 0 40px black;
}

.top-div {
  position: static;
  top: 0;
  width: 100%;
  height: 4%;
  left: 0;
}

.top-div #logo {
  position: absolute;
  left: 0;
}

#form-search {
  position: absolute;
  left: 40%;
}

.topdiv-links {
  text-align: end;
}

.topdiv-links a {
  text-decoration: none;
  font-size: 200%;
  color: white;
  transition: .3s ease;
  margin-right: 1%;
}

.mid-div {
  position: absolute;
  width: 50%;
  top: 10%;
  height: 90%;
  left: 25%;
  overflow: auto;
}

.post {
  position: relative;
  display: inline-block;
  width: 80%;
  box-shadow: 0 10px 6px black;
  border: inset 2px black;
  margin-left: 10%;
  margin-top: 5px;
  min-height: 100px;
  background-color: white;
}

.separator {
  position: relative;
  display: inline-block;
  margin-left: 25%;
  background-color: white;
  width: 50%;
  height: 2px;
}

.post-useravatar {
  position: absolute;
  width: 10%;
  height: auto;
  top: 1%;
  left: 1%;
}

.post-username {
  position: absolute;
  top: 0;
  margin-top: 5px;
  left: 12%;
}

.post-content {
  position: absolute;
  left: 15%;
  top: 33%;
  font-weight: bold;
}

.post-date {
  position: absolute;
  bottom: 0;
}

.post-like {
  position: absolute;
  bottom: 0;
  right: 20%;
}

.post-comment {
  position: absolute;
  bottom: 0;
  right: 5%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #66c0b7;
}

a:hover {
  color: #32ab9f;
}

.left-div {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 20%;
  height: 20%;
}

.inputs {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.inputs input {
  font-family: "Calibri", Arial, sans-serif;
  text-align: center;
  border: 2px solid #99d5cf;
  height: 40px;
  width: 50%;
  transition: 0.5s;
  margin-bottom: 5%;
}

.inputs input:hover {
  border:2px solid #32ab9f;
}

.inputs input:focus {
  width: 80%;
  border: 2px solid #32ab9f;
  background-color: #cceae7;
  border-radius: 40px;
}

#postButton {
  position: absolute;
  left: 33%;
  right: 0;
  top: 100%;
  background-color: white;
  border: 2px solid #99d5cf;
  width: 33%;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 0;
}

#postButton:hover {
  position: absolute;
  background-color: #cceae7;
  border: 2px solid #32ab9f;
  border-radius: 40px;
  left: 20%;
  width: 60%;
  margin-top: 0;
}

#postButton:active {
  transform: translateY(4px);
}

.footer {
  position: absolute;
  display: block;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  padding-bottom: 10px;
  background-color: #66c0b7;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 120%;
  color: #cceae7;
}

