<head>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
    <div class="left-panel">
    </div>
        <div class="right-panel">
    </div>
    <div class="main-div">
        <div class="top-div">
            <a href="/login"><img src="/public/img/logo_little.png" id="logo"></a>
        </div>
        <div class="main-box">
            <h1>
            Welcome User!<br/>
            <img src="../public/img/hello.gif">
            </h1>
        <div class="inputs">
            {{if .Error}} <p class=error><strong>Error:</strong>{{.Error}} {{end}}
            <form title="loginForm" action="login" method="post">
                <input type="text" name="username" placeholder="Login or Mail" class="text-in-form"/><br/><br/>
                <input type="password" name="password" placeholder="Password" class="text-in-form"/><br/>
                <input type="submit" id="loginButton" value="Log In!">
            </form>
        </div>
        <div class="little-links">
            <a href="/registration">Sign up</a><br/>
            <a href="/login">Forgot your password?</a>
        </div>
        </div>
    </div>
</body>