<head>
    <link rel="stylesheet" type="text/css" href="/public/css/post.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>

<div class="main-div">
    <div class="top-div">
        <a href="/feed"><img src="/public/img/logo_little.png" id="logo"></a>
        <div class="account-links">
            <div class="account-links">
                <a href="/settings" id="accountLink">Settings</a>
                <a href="/logout" id="logoutLink">Log out</a>
            </div>
        </div>
    </div>

    <div class="mid-div">
        <div class="post">
            <img class="post-useravatar" src="/public/img/avatar.png">
            <span class="post-username">Nickname</span>
            <span class="post-content" id="post-content">{{ .Post.Content }}</span>
            <span class="post-date">{{ .Post.Date }}</span>
            <div class="edit-delete-links">
                <span class="post-delete"><a href="/delete/{{ .Post.Post_id }}/{{ .Post.Post_id }}">Delete</a></span>
            </div>
            <a class="post-like" href="/like/{{ .Post.Post_id }}/{{ .Post.Post_id }}">Like <span>{{ .Post.Nb_of_likes }}</span></a>
        </div>


        <div>
            <form action="/edit/{{ .Post.Post_id}}/{{ .Post.Post_id}}" method="post">
                <input type="text" name="editPostText" placeholder="Edit">
                <input type="submit" class="editPostButton" name="editPostButton" value="Ok!">
            </form>
        </div>


        <div class="comment-section">
            <form action="/comment/{{ .Post.Post_id }}" method="post">
                <input type="text" name="comment" id="comment" placeholder="Comment!">
                <input type="submit" name="submitButton" id="submitButton" value="OK!">
            </form>
            <div class="userComments">
                {{range .Comments }}
                <div class="comment">
                    <img class="post-useravatar" src="/public/img/avatar.png">
                    <span class="post-username">Nickname</span>
                    <span class="post-content" id="post-content-comment">{{ .Content }}</span>
                    <span class="post-date">{{ .Date }}</span>
                    <div class="edit-delete-links">
                        <span class="post-delete"><a href="/delete/{{ .Ans_to_post }}/{{ .Post_id }}">Delete</a></span>
                    </div>
                    <a class="post-like" href="/like/{{ .Ans_to_post }}/{{ .Post_id }}">Like <span>{{ .Nb_of_likes }}</span></a>
                </div>
                <div>
                    <form action="/edit/{{ .Ans_to_post }}/{{ .Post_id }}" method="post">
                        <input type="text" name="editPostText" placeholder="Edit">
                        <input type="submit" class="editPostButton" name="editPostButton" value="Ok!">
                    </form>
                </div>

                {{end}}
            </div>

    </div>

</div>
</body>
